@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
    z-index: +1;
}

.sub-menu {
    background: rgb(253, 236, 236);
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h5 {
    color: black;
    font-weight: 600;
}

.user-info img {
    padding-right: 25px;
    width: 90px;
    height: 55px;
    border-radius: 50%;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px 0;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.sub-menu-link p {
    padding-top: 12px;
    width: 100%;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

.sub-menu-link i {
    color: grey;
    width: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 1000;
}