{% extends 'base.html' %}
{% block title %}
Diabetes
{% endblock title %}
{% block content %}

<div class="card p-3" style="left: 17%; top: 30%; position: absolute; width: 900px;">
    <div class="BodyHead text-center">
        Got Diabetes! No Worries
    </div>
    <h5 class="text-center">
        Here is a guide you can follow to get your healthy lifestyle back
    </h5>
    <br>
    <h5 class="text-center">
        What does a diabetes diet involve?
        A diabetes diet is based on eating three meals a day at regular times. This helps you better
        use the insulin that your body produces or gets through a medication.
    </h5>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <h5 class="text-center">
                        Recommended foods
                        Make your calories count with these nutritious foods. Choose healthy carbohydrates, fiberrich
                        foods, fish
                        and "good" fats.
                        Healthy carbohydrates
                    </h5>
                    <h5 class="text-center">
                        Heart-healthy fish
                        Eat heart-healthy fish at least twice a week. Fish such as salmon, mackerel, tuna and
                        sardines are rich in omega-3 fatty acids, which may prevent heart disease.
                        Avoid fried fish and fish with high levels of mercury, such as king mackerel.
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="p-3"><img src="static/images/Diabetes1.svg"></div>
            </div>
        </div>
    </div>
    <h5 class="text-center">
        During digestion, sugars (simple carbohydrates) and starches (complex carbohydrates) break
        down into blood glucose. Focus on healthy carbohydrates, such as:
            <li class="text-start">Vegetables</li>
            <li class="text-start">Fruits</li>
            <li class="text-start">Whole grains</li>
            <li class="text-start">Legumes, such as beans and peas</li>
            <li class="text-start">Low-fat dairy products, such as milk and cheese</li>
        Avoid less healthy carbohydrates, such as foods or drinks with added fats, sugars and
        sodium.
    </h5>
    <h5 class="text-center">
        Fiber-rich foods
        Dietary fiber includes all parts of plant foods that your body can't digest or absorb. Fiber
        moderates how your body digests and helps control blood sugar levels. Foods high in fiber
        include:
            <li class="text-start">Vegetables</li>
            <li class="text-start">Fruits</li>
            <li class="text-start">Nuts</li>
            <li class="text-start">Legumes, such as beans and peas</li>
            <li class="text-start">Whole grains</li>
    </h5>

    <h5 class="text-center">
        'Good' fats
        Foods containing monounsaturated and polyunsaturated fats can help lower your
        cholesterol levels. These include:
            <li class="text-start">Avocados</li>
            <li class="text-start">Nuts</li>
            <li class="text-start">Nuts</li>
            <li class="text-start">Canola, olive and peanut oils</li>
        But don't overdo it, as all fats are high in calories.
    </h5>
    <h5 class="text-center">
        Foods to avoid
        Diabetes increases your risk of heart disease and stroke by accelerating the development of
        clogged and hardened arteries. Foods containing the following can work against your goal of
        a heart-healthy diet.
    </h5>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <img src="static/images/Diabetes2.svg">
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <ul class="h5">
                        <li class="text-start">Saturated fats. Avoid high-fat dairy products and animal proteins such as
                            butter,
                            beef, hot dogs, sausage and bacon. Also limit coconut and palm kernel oils.</li>
                        <li class="text-start">
                            Trans fats. Avoid trans fats found in processed snacks, baked goods, shortening and
                            stick margarines.</li>
                        <li class="text-start">
                            Cholesterol. Cholesterol sources include high-fat dairy products and high-fat animal
                            proteins, egg yolks, liver, and other organ meats. Aim for no more than 200
                            milligrams (mg) of cholesterol a day.</li>
                    </ul>
                </div>
            </div>
            <ul class="h5">
                <li class="text-start">
                    Sodium. Aim for less than 2,300 mg of sodium a day. Your doctor may suggest you
                    aim for even less if you have high blood pressure.
                    A sample menu
                    When planning meals, take into account your size and activity level. The following menu is
                    tailored for someone who needs 1,200 to 1,600 calories a day.</li>
                <li class="text-start">
                    Breakfast. Whole-wheat bread (1 medium slice) with 2 teaspoons jelly, 1/2 cup
                    shredded wheat cereal with a cup of 1 percent low-fat milk, a piece of fruit, coffee</li>
                <li class="text-start">
                    Lunch. Roast beef sandwich on wheat bread with lettuce, low-fat American cheese,
                    tomato and mayonnaise, medium apple, water</li>
                <li class="text-start">
                    Dinner. Salmon, 1 1/2 teaspoons vegetable oil, small baked potato, 1/2 cup carrots,
                    1/2 cup green beans, medium white dinner roll, unsweetened iced tea, milk</li>
                <li class="text-start">
                    Snack. 2 1/2 cups popcorn with 1 1/2 teaspoons margarin</li>
            </ul>
        </div>
    </div>
    <br>
    <a style="text-align: center;" href="static/uploads/media/diabetes.pdf" download><button
            class="button text-dark">Download<i class="fa fa-download"></i></button></a>
</div>
{% endblock content %}