<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/Form.css">
    <link rel="icon" href="{{url_for('static', filename='images/HealtholiteLogoMain.png')}}">
    <script src="https://kit.fontawesome.com/184d4e2021.js" crossorigin="anonymous"></script>
    <title>Diabetes Prediction</title>
</head>

<body>
    <div class="container text-center">
        
        <div class="row align-items-start">
            <div class="col">
                <div class="login-page">
                    <div class="form">
                        <h2 class="text-start">Enter Your Details</h2><br>
                        <form action="/park" method="POST" class="login-form">
                            <div class="row text-center">
                                <div class="row align-items-start">
                                    <div class="col">
                                        <input type="number" step="0" name="pregnancies" id="pregnancies" placeholder="Enter pregnancies" />
                                        <input type="number" step="0.001" name="glucose" id="glucose" placeholder="Enter glucose" />
                                        <input type="number" step="0.001" name="bloodpressure" id="bloodpressure" placeholder="Enter blood pressure" />
                                        <input type="number" step="0.001" name="skinthickness" id="skinthickness" placeholder="Enter skin thickness" />
                                        
                                    </div>
                                    <div class="col">
                                        <input  type="number" step="0.001" name="insulin" id="insulin" placeholder="Enter insulin" />
                                        <input type="number" step="0.001" name="BMI" id="BMI" placeholder="Enter BMI">
                                        <input type="number" step="0.001" name="DiabetesPedigreeFunction" id="DiabetesPedigreeFunction" placeholder="DiabPedigreeFunc">
                                        <input type="number" step="0" name="age" id="age" placeholder="Enter age">
                                        
                                    </div>
                                    <div class="container text-center">
                                        <div class="row align-items-start">
                                          <div class="col">
                                           
                                          </div>
                                          <div class="col">
                                            <button type="submit" class="btn">Submit</button>
                                          </div>
                                          <div class="col">
                                           
                                          </div>
                                        </div>
                                      </div>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="static/images/dash.svg" height="600px">
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>