{% extends 'base.html' %}
{% block title %}
    Diabetes
{% endblock title %}
{% block content %}
<div class="card" style="left: 30%; top: 30%; position: absolute; height: 220px; width: 500px; border: none;">
    <div class="BodyHead text-center">
        Oops! You have a probability of having Diabetes
    </div>
    <br>
    
    <h5 class="text-center py-3">
        You can try our reversal plan here
    </h5>
    <div class="align-content-center">
        <a href="/diab_reversal"><button type="link" class=" button w-10 text-dark" style="position: absolute; left: 33%;">Reversal Plan</button></a>
      </div>
</div>
{% endblock content %}