{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body p-4">
                        
                        <div class="col-lg-12">
                            <div class="text-center">
                                <a href="#" class="mb-4 d-block auth-logo">
                                    <img src="static/images/medinova.png" alt=""
                                        class="logo w-50">
                                </a>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <h6>Log in to continue to Healthify.</h6>
                        </div>
                        <div class="text-center mt-3">
                            <a href="#">
                                <button class="border border-primary align-items-center btn w-75 hover-shadow-primary"> 
                                    <img style="width: 1.5em" src="static/images/avatar.png" class="img-fluid me-2" alt=""> 
                                    Continue with Google
                                </button>
                            </a>
                        </div>
                        <form method="POST">
                        <div class="mt-4">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Enter email">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                                <br>
                                <div class="float-end">
                                    <a href="#" class="text-muted">Forgot password?</a>
                                </div>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="auth-remember-check" name="remember">
                                <label class="form-check-label" for="auth-remember-check">Remember me</label>
                            </div>

                            <div class="mt-3 text-end">
                                <button type="submit" class="btn btn-primary w-sm waves-effect waves-light">
                                    Log In
                                </button>
                            </div>

                            <div class="mt-4 text-center">
                                <p class="mb-0">Don't have an account ? <a href="/sign-up"
                                        class="fw-medium text-primary"> Signup now </a> </p>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}