{% extends 'base.html' %}
{% block title %}
Sign Up
{% endblock title %}
{% block content %}
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card myshadow">

                    <div class="card-body p-4">

                        <div class="col-lg-12">
                            <div class="text-center">
                                <a href="#" class="mb-4 d-block auth-logo">
                                    <img src="static/images/medinova.png" alt="" class="logo w-50">
                                </a>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <h6>Sign up to continue to Medinova</h6>
                        </div>
                        <div class="text-center mt-3">
                            <a href="#">
                                <button class="border border-primary align-items-center btn w-75 hover-shadow-primary">
                                    <img style="width: 1.5em" class="img-fluid me-2" src="static/images/avatar.png"
                                        alt="">
                                    Continue with Google
                                </button>
                            </a>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            <div class="mt-3">
                                <div class="mb-3">
                                    <label class="form-label" for="image_file">Upload Image</label>
                                    <input type="file" class="form-control" name="image_file" id="image_file">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Enter email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    <input type="text" class="form-control" name="username" id="username"
                                        placeholder="Enter username">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password1">Password</label>
                                    <input type="password" class="form-control" name="password1" id="password1"
                                        placeholder="Enter password">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password2">Confirm Password</label>
                                    <input type="password" class="form-control" name="password2" id="password2"
                                        placeholder="Enter confirm password">
                                </div>


                                <div class="form-check">
                                    <input v-model="tnc" type="checkbox" class="form-check-input"
                                        id="auth-terms-condition-check">
                                    <label class="form-check-label" for="auth-terms-condition-check">I accept <a
                                            class="text-dark">Terms and Conditions</a></label>
                                </div>

                                <div class="mt-3 text-end">
                                    <button class="btn btn-primary w-sm waves-effect waves-light"
                                        type="submit">Register</button>
                                </div>

                                <div class="mt-4 text-center">
                                    <p class="text-muted mb-0">Already have an account ? <a href="/login"
                                            class="fw-medium text-primary"> Login</a></p>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
{% endblock content %}